<html>
<head>

</head>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<body>
Game: {{game.GameName}}
<div id="chat_messages">
</div>
<form>
	{% csrf_token %}
	Message:<textarea></textarea>
	<button id="send" type="button">Send</button>
</form>
<script type="text/javascript">
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	
	function clear(){
		chat_div = document.getElementById("chat_messages");	
		chat_div.innerHTML = "Messages:"; 
	}
	function update(){
		clear();
		$.ajax({
		  method: "POST",
		  url: "/chat/get_messages_api/1",
		  data:{"csrfmiddlewaretoken":csrftoken},
		}).done(function(messages) {
			chat_div = document.getElementById("chat_messages");
			ul = document.createElement("ul");
			for (var message in messages){
				li = document.createElement("ul");
				li.innerHTML = `${messages[message]["fields"]["user_profile"]} - ${messages[message]["fields"]["content"]}`;
				ul.appendChild(li);
			}
			chat_div.appendChild(ul);
		  });
		window.setTimeout(update,10000);
	} 
	update();
	document.getElementById("send").onclick = update;

</script>

</body>
</html>